@import url('https://fonts.googleapis.com/css?family=Rubik');

.App {
  text-align: center;
  background-color: #edede9;
  font-family: "Antonio", Sans-serif;
  color: #333;
  line-height: 1.6;
}

.Navbar {
  background-color: #edede9;
  font-family: "Antonio", Sans-serif;
  color: #fff;
  padding: 20px 0;
  font-size: 1.2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.paper-body {
  font-size: 2em;
  line-height: 1.5;
  color: #333;
  font-weight: 500;
}